<!doctype html>
<html ng-app="toDoApp">

<head>
	<title>ToDoApp</title>
	<meta charset="utf-8">
	
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<link href="bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="./node_modules/evil-icons/assets/evil-icons.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
	<script src= "bower_components/angular/angular.js"></script>
	<script src= "bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	

	<script src="./main.js"></script>
</head>
<header><h1>Note Me</h1></header>
<body ng-controller="mainCtrl">
	...making app

<!--	ui-view  setup-->
	<button class="btn" ng-click="addNote()">Add Note</button>
	 <div class="note" ng-repeat="note in notes | orderBy:'createdOn':true track by $index">
      <span class="date">{{note.createdOn | date:"EEEE dd MMMM, yyyy 'at' h:mma"}}<img class="icons" src="xbutton.svg" width="30px" height="30px" alt="delete button" ng-click="delete(notes.length - $index - 1)"></span>
      
      
      <div class="markdown-body" ng-model="note.text" ng-change="update(notes.length - $index - 1,note.text)" ng-focus="note.edit = true" ng-blur="note.edit = false" markdown-editable contenteditable="true">{{ note.text }}</div>
    </div>
	
	
</body>
</html>