<button class="btn" ng-click="addNote()">Add Note</button>
<div class="note" ng-repeat="note in notes | orderBy:'createdOn':true">
      <span class="date">{{note.createdOn | date:"EEEE dd MMMM, yyyy 'at' h:mma"}}
				<img class="icons" src="xbutton.svg" width="30px" height="30px" alt="delete button" ng-click="remove(note)"></span>
      
      
      <div class="markdown-body" ng-model="note.text" ng-focus="note.edit = true" ng-blur="note.edit = false" markdown-editable contenteditable="true">
				{{note.text}}
				</div>

    </div>
