<div ng-click="edit" class="noted" ng-repeat="note in notes | orderBy:'created':true">
	<!--    {{note}}-->


	<div class="toDoItem">

		<img class="icons" src="xbutton.svg" width="30px" height="30px" alt="delete button" ng-click="remove(note)">
		<button type="button" class="btn btn-info" ng-click="selectedNote(note)">edit</button>

		<h2>{{note.title}}</h2>
		<p>{{note.description}}</p>
		<h6>created on: {{note.created | date: 'short'}}</h6>
		<h6>edited on: {{note.editedNote | date: 'short'}}</h6>

	</div>

</div>